html, body {
  margin: 0px;
  padding: 0px;
  font-family: Poppins, sans-serif;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  padding: 10px;
  height: 40px;
  width: 100%;
  align-items: center;
  align-content: center;
}

.logo {
  max-width: 100px;
  height: 30px;
  margin-left: 10px;
}

.title-color {
  color: white;
}